.auth--window{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.auth--window > *{
    padding: 10px;
}
.input--forms{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 70%;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
input {
    width: 80%;
    height: 50px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: #fff;
}

button{
    width: 20%;
}
