
.UserHead{
    /*border: 1px solid green;*/
    border-radius: 0 0 15px 15px;
    /*filter: drop-shadow( 1px 2px 8px hsl(0deg 0% 0% / 0.25) );*/

}
.UserHead > *{
    /*border: 1px solid red;*/
    /* flex-grow: 1; */
    /* background-color: red; */
}
.userImg{
    aspect-ratio: 1/1;
    height: 100%;
     /*background-color: red;*/
    /* width: 10vh; */
    /*background-color: #535bf2;*/
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userDetail{
    flex-grow: 1;
    height: 100%;

    /* width: 10vh; */

}
.moreFunctions{
    aspect-ratio: 1.5/1;
    /* width: 10vh; */
    height: 100%;

    /* background-color: red; */


}
.chat--panel{
    /* height: 100vh; */
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
    /*box-shadow: rgba(0, 0, 0, 0.22) 0 0 08px;*/
    box-shadow: rgb(0 0 0 / 9%) 0 3px 12px;
}
.UserHead{
    /* background-color: rebeccapurple; */
    min-height: 80px;
    max-height: 80px;
    display: flex;
    /* width: 100%; */
}
.chat--list{
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.chat--input{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    min-height: 80px;
    /* justify-content: flex-start; */
}
.emoji-list{
    position: absolute;
    bottom: 80px;
    display: none;
    margin-left: 15px;
    user-select: none;
}
.emoji-icon{
    /*border: 1px solid ;*/
    display: flex;
    padding: 3px;
}
.select{
    background-color: #F1F1F1;
    border-radius: 50%;
}
.emoji-visible{
    display: unset;
}
.chat--list > div{
    /* border: 1px solid red; */
    padding: 10px 30px;
}
.chat--list > div > .msg{
    /* border: 1px solid red; */
    padding: 4px 14px;
    border-radius: 12px 12px 12px 0;
    background-color: #F1F1F1;

}
.chat--list > .end > .msg {
    border-radius: 12px 12px 0px 12px;
    background-color: #615EF0;
    color: white;
}
.msg  a{
    text-decoration: underline;

}
.end  a{
    color: white;
    text-decoration: underline;
}
.end a:hover{
    color: white;
}


.chat--list > .end{
    text-align: right;
}
#chat--input--box{
    /* border: 1px solid red; */
    height: 60%;
    flex-grow: 1;
    margin: 0 20px;
}
.chat--input-icons{
    margin: 0 20px;
    /* border: 1px solid red; */
}
.msg{
    position: relative;
    padding: 0 20px;
}
.three--dot{
    visibility: hidden;
    background-color: transparent;
    /*position: absolute;*/
    bottom: 0;
    z-index: 1;
}
.material-symbols-outlined{
    display: flex;
    justify-content: center;
    align-items: center;
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
}
.three--dot:focus , .three--dot:hover{
    outline: none;
    border-color: transparent;
}
.msg:hover .three--dot{
    visibility: visible;
}
.userImg img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.userSearch{
    width: 90%;
    padding: 0 15px;
    border-radius: 30px;
    background-color: #f1f1f1;
    margin: 10px 5%;
    border: none;
}
.app--title{
    /*border: 1px solid red;*/
    padding-left: 10px ;
}
.file{
    display: inline;
    /*width: 30%;*/
    /*border: 1px grey solid;*/
    /*height: 40px;*/
    /*align-items: center;*/
}
.download{

}
.file > * {
    /*border: 1px grey solid;*/
}

.download{
    /*border: 1px solid red;*/
    padding: 0 5px;
    scale: 1.5;
    cursor: pointer;
}
.file > p{
    display: inline;
}
.file > .msg {
    height: 100px;
}
.chat--list .msg .file{
    /*background-color: red;*/
}

.connection{
    font-size: 15px;
    padding: 10px;
    font-weight: 900;
}
.online{
    color: green;
}
.last--seen , .offline{
    color: grey;
    font-weight: 500;
}
.arrow{
    font-size: 12px;
    padding: 0 10px;
}


.recording{
    display: flex;
    align-items: center;
}
.url-image{
    width: 100%;
    object-fit: contain;
    object-position: top;
    max-height: 200px;
    border-radius: 10px;
}
.link-preview-wrapper{
    display: flex;
    flex-direction: column;
}
.link-preview-wrapper >div:first-child{
    min-width: 300px;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.link-preview-wrapper > div > p {
    position: absolute;
    background: rgba(0, 0, 0, 0.53);
    text-align: left;
    width: 100%;
    /*border-radius: 0px;*/
    padding-left: 15px;
    transition: top 500ms ,bottom  500ms ;
    transition-delay: 500ms;
    transition-timing-function: ease-in-out ;
}

.link-preview-wrapper > div > p:first-child{
    top: -100%;
    overflow: hidden;
    padding: 10px 15px;
    font-size: 20px;
}
.link-preview-wrapper:hover > div > p:first-child{
    transition-delay: 500ms;

    top: 0;
}
.link-preview-wrapper:hover > div > p:last-child{
    transition-delay: 500ms;

    bottom: 0;
}
.link-preview-wrapper > div > p:last-child{
    bottom: -100%;
    padding-top: 10px ;
    font-size: 14px;

}
.msg .link-preview-wrapper p{
    color: white;
}
.audio-player{
    display: flex;
    gap: 20px;
}
.audio-player > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.voice-player{
    display: flex;
    /*width: 20%;*/
    align-items: center;
    justify-content: center;
}